* {
    margin: 0;
}

#outer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 100vh;
    align-items: center;
}

.box {    
    $colors: whitesmoke, gray, lightgray;
    @for $i from 1 through length($colors) {
        &:nth-of-type(#{$i}) {
            background-color: nth($colors, $i);
        }
    }
    color: white;
    font-size: 2em;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.5em;
    padding-bottom: 2.75em;
}
