@import '_variables.scss';

body {
    background-color: $background-color;
    color: $white;
    font-family: 'PT Sans', sans-serif;
    font-size: 0.875em;
    letter-spacing: 1px;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}

header {
    box-shadow: $box-shadow;
}

header>.gora {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    font-size: large;
    font-weight: bold;
}

.alaphoto-grey {
    color: $logo-1;
}

.blog-yellow {
    color: $logo-2;
}

button:hover {
    cursor: grab;
}

.button1 button {
    border: none;
    border-radius: 3px;
    color: #333333;
    font-weight: bold;
    text-transform: lowercase;
}

.button2 button {
    background-color: $orange;
    border: none;
    border-radius: 3px;
    color: $white;
    font-weight: bold;
    text-transform: lowercase;

}


fieldset {
    border: none;
    box-shadow: $box-shadow;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    text-align: center;
    width: 1400px;


    .numery {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        color: $white;
    }

    .obserwujacy,
    .obserwowani,
    .wpisy {
        padding-right: 2em;
    }


    .liczba {
        font-weight: bold;
    }
}

.glowna {
    border: none;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 30em 15em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    width: 1400px;

    .lewa {
        grid-row: 1 / 3;
        display: flex;
        justify-content: space-around;

        .data {
            background-color: $dark-gray;
            padding-top: 2.5em;
            padding-bottom: 2.5em;
            margin-bottom: 1em;
            text-align: center;
        }

        .fajne {
            background-color: $dark-gray;
            padding-top: 2.5em;
            padding-bottom: 2.5em;
            text-align: center;
        }

        .duzy-kwadrat {
            background-color: #eee;
            padding-bottom: 40em;
            padding-left: 40em;
            padding-right: 20em;
        }
    }

    .profil-info {
        background-color: $dark-gray;
        display: grid;
        grid-row: 1;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        padding-bottom: 1em;

        .profilowe {
            background-color: #eee;
            height: 12em;
            width: 12em;
            border-radius: 50%;
            grid-column: 2;
        }

        .przycisk3 {
            grid-column: 2;
            text-align: center;S
        }

        .imie {
            grid-column: 2;
            text-align: center;
        }

        .miejsce {
            grid-column: 2;
            text-align: center;
        }

        .przycisk4 {
            grid-column: 2;
            text-align: center;
        }

        .przycisk5 {
            grid-column: 2;
            text-align: center;
        }
    }
}