body {
    margin: 0;
    .A {
        border: 3px solid blue;
        background-color: lightskyblue;
        padding-left: 9em;
        padding-right: 9em;
        padding-bottom: 10em;
        position: absolute;
        top: 23em;
        left: 40em;
    }

    .B {
        border: 3px solid red;
        background-color: #FFCCCB;
        padding-left: 9em;
        padding-right: 9em;
        padding-bottom: 10em;
        position: absolute;
        bottom: 23em;
        right: 40em;
    }
}