body {
    margin: 0;
}

.C {
    border: 7px solid red;
    background-color: yellow;
    display: flex;
    flex-direction: row;
    justify-content: center;
    letter-spacing: 30px;
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2em;
    padding-bottom: 4em;
    width: 600px;

    }

    .A {
        display: flex;
        position: relative;
        top: 10px;
    }

    .B {
        display: flex;
        position: relative;
        bottom: 10px;
    }