body {
    margin: 0em;

    #nav {
        box-shadow: 2px 3px 3px lightgray;
        background-color: #F5F5F5;
        font-weight: bold;
        padding-left: 1em;
        padding-top: 1em;
        padding-bottom: 1em;
        position: fixed;
        width: 10000px;
        top: 0;
    }

    #content {
        width: 1080px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 6em;
        
        h2 {
            margin-top: 2em;
            margin-bottom: 1em;
        }

        .event {
            border: 2px solid lightgray;
            border-radius: 1em;
            padding: 1em;
            margin-top: 1em;
            margin-bottom: 1em;
            display: grid;
            grid-template-columns: 4fr 4fr;
            grid-template-rows: auto;


            .title {
                font-weight: bold;
                grid-column: 1;
                grid-row: 1;
                font-size: large;
            }

            .date {
                grid-column: 2;
                grid-row: 1;
                justify-self: end;
            }

            .organizer {
                grid-column: 1 / 3;
                grid-row: 2;
                margin-top: 0.25em;
                margin-bottom: 0.75em;
            }

            .description {
                grid-column: 1 / 3;
                grid-row: 3;
                margin-bottom: 0.75em;
            }

            .primary {
                grid-column: 1;
                grid-row: 4;
                margin-right: 33em;
                color: white;
                background-color: #0066FF;
                border: 2px solid #0066FF;
                border-radius: 0.75em;
                font-weight: bold;
                padding-top: 0.50em;
                padding-bottom: 0.50em;
                cursor: pointer;
            }

            .secondary {
                grid-column: 2;
                grid-row: 4;
                margin-left: 33em;
                color: #0066FF;
                background-color: white;
                border: 2px solid #0066FF;
                border-radius: 0.75em;
                font-weight: bold;
                padding-top: 0.50em;
                padding-bottom: 0.50em;
                cursor: pointer;
            }

        }
    }

    .info {
        position: fixed;
        right: 1em;
        bottom: 1em;
        border: 2px solid yellow;
        background-color: #FFFFCC;
        box-shadow: 3px 3px 3px #eee;
        margin-left: 103em;
        padding: 1em;
        border-radius: 2em;
    }


}