* {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 96.73vh;
    justify-content: flex-end;
    border: 1em solid grey;
    $colors: violet, wheat, whitesmoke, yellow, yellowgreen, turquoise, tomato, thistle, teal, tan;
    @for $j from 1 through length($colors) {
        .box:nth-of-type(#{$j}) {
        background-color: nth($colors, $j);
        color: white;
        font-size: 2.5em;
        text-shadow: 4px 4px 7px gray;
        text-align: center;
        }
    }
}