* {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: row;
    $colors: violet, wheat, whitesmoke, yellow, yellowgreen, turquoise, tomato, thistle, teal, tan;
    @for $j from 1 through length($colors) {
        .box:nth-of-type(#{$j}) {
        background-color: nth($colors, $j);
        color: white;
        font-size: 5em;
        height: 100vh;
        text-shadow: 4px 4px 7px gray;
        }
    }
    .box {
        text-align: center;
        width: 100%;
    }

    .box-2, .box-7 {
        order: 1;
    }
    
    .box-3 {
        order: -1;
    }
}