* {
    box-sizing: border-box;
}

.content {
    background-color: black;
    border: 3px solid black;
    display: grid;
    gap: 0px;
    grid-template-columns: repeat(5,7em);
    grid-template-rows: repeat(5,7em);
    gap:3px;
    width: fit-content;
}

.color-plane:nth-child(even) {
    background-color: #D2B48C;
}

.color-plane:nth-child(odd) {
    background-color: #FFE3B4;
}

.color-plane {
    color: white;
    font-size: 1.5em;
    text-shadow: 2px 2px 5px black;
    padding: 0.5rem;
}
