* {
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;

    .item {
        background-color: khaki;
        border: 2px solid black;
        font-weight: bold;
        font-size: large;
        margin: 0.75em;
        padding: 1em;
        text-align: center;

    }

    .item9 {
        background-color: tomato;
        grid-column: 4 / 6;
    }

    .item11 {
        background-color: lavender;
        grid-row: 3 / 7;
        grid-column: 2 / 3;
    }

    .item16 {
        background-color: lightblue;
        grid-column: 3 / 5;
        grid-row: 4 / 6;
    }

    .item29 {
        background-color: burlywood;
        grid-column: 1 / 5;
    }
}